{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Grid Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'grid/css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>UK Energy Dashboard</h1>
    <div>
        <div>
            <h3>Time</h3>
            <h3>{{ latest_data.timestamp }}</h3>
        </div>
        <div>
            <h3>Fossil Free %</h3>
            <h3>{{ latest_data.fossil_free_perc }}%</h3>
        </div>
        <div>
            <h3>Consumption</h3>
            <h3>{{ latest_data.power_consumption_total }} MW</h3>
        </div>
        <div>
            <h3>Production</h3>
            <h3>{{ latest_data.power_production_total }} MW</h3>
        </div>
        <div>
            <h3>Import</h3>
            <h3>{{ latest_data.power_import_total }} MW</h3>
        </div>
        <div>
            <h3>Export</h3>
            <h3>{{ latest_data.power_export_total }} MW</h3>
        </div>
    </div>

    <h2>Production and Consumption Statistics</h2>
    <!--Fossil Free % Overtime-->
    <div>
        <canvas id="fossilFreeChart"></canvas>
    </div>

    <!--Total Production and Consumption Overtime-->
    <div>
        <canvas id="prodConsChart"></canvas>
    </div>

    <!--Production and Consumption by Type-->
    <div>
        <canvas id="energyPieChart"></canvas>
    </div>

    <h2>Import and Export Statistics</h2>
    <!--Import and Export Statistcs by Country-->
    <div>

    </div>

    <h2>Call to Action</h2>
    <div>

    </div>

    <script src="{% static 'grid/js/script.js' %}"></script>
</body>
</html>
