{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Grid Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'grid/css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>UK Energy Dashboard</h1>

    <div>


    </div>

    <h2>Production and Consumption Statistics</h2>
    <!--Fossil Free % Overtime-->
    <div>
        <canvas id="fossilFreeChart"></canvas>
    </div>

    <!--Total Production and Consumption Overtime-->
    <div>
        <canvas id="prodConsChart"></canvas>
    </div>

    <!--Production and Consumption by Type-->
    <div>

    </div>

    <h2>Import and Export Statistics</h2>
    <!--Import and Export Statistcs by Country-->
    <div>

    </div>

    <h2>Call to Action</h2>
    <div>

    </div>

    {% if latest_data %}
        <p><strong>Timestamp:</strong> {{ latest_data.timestamp }}</p>
        <p><strong>Total Power Consumption:</strong> {{ latest_data.power_consumption_total }} MW</p>
        <p><strong>Total Power Production:</strong> {{ latest_data.power_production_total }} MW</p>
        <p><strong>Renewable Percentage:</strong> {{ latest_data.renewable_perc }}%</p>
        <p><strong>Fossil-Free Percentage:</strong> {{ latest_data.fossil_free_perc }}%</p>
    {% else %}
        <p>No energy data available.</p>
    {% endif %}

    <script src="{% static 'grid/js/script.js' %}"></script>
</body>
</html>
